<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="eZustellSendPOC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="RemoteControlInitPortBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="RemoteControlInitPortBinding1" />
                <binding name="RemoteControlSoapBinding">
                    <security mode="Transport" />
                </binding>
                <binding name="RemoteControlSoapBinding1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://labs1.austriapro.at:443/ZustellserviceWko/services/2015/remote-control-init"
                binding="basicHttpBinding" bindingConfiguration="RemoteControlInitPortBinding"
                contract="RCSInit.RemoteControlInit" name="RemoteControlInitPort" />
            <endpoint address="https://www.e-zustellung.at/ZustellserviceWko/services/remote-control"
                binding="basicHttpBinding" bindingConfiguration="RemoteControlSoapBinding"
                contract="RCService.RemoteControl" name="RemoteControl" />
        </client>
    </system.serviceModel>
    <userSettings>
        <eZustellSendPOC.Properties.Settings>
            <setting name="PleaseChoose" serializeAs="String">
                <value>-- Bitte auswählen --</value>
            </setting>
            <setting name="LastCertificatePath" serializeAs="String">
                <value />
            </setting>
            <setting name="UseTimeStamp" serializeAs="String">
                <value>False</value>
            </setting>
        </eZustellSendPOC.Properties.Settings>
    </userSettings>
</configuration>